*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    margin: 0px 0 15px;
    width: 760px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    align-self: center;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.table1{
    margin: 30px;
    margin-bottom: 10px;
    width: 800px;
    border-collapse: collapse;
}
.headerDATA{
}
thead{
    text-align: start;
}
tbody {
    width: 80px;
    color: rgb(0, 0, 0);
    column-gap: 0px;
    border-collapse: collapse;
    font-size: 14px;
    }
th {
    column-gap: 0;
    padding: 2px;
    border-collapse: collapse;
}
td{
    border-collapse: collapse;
    padding: 2px;
    column-gap: 0px;
}
tr{
    width: auto;
    column-gap: 0px;
}

h2 {
    margin-left: 30px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    margin-top: 20px; 
    font-weight: 300;
}
h2.L4{
    margin-top: 0px;
}
h2.L2{
    font-weight: 600;
}


h3{
    margin-left: 37px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

span{
    margin-left: 0px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

select#ClientName{
    margin: 0;
    padding: 0;
}
div.CHead{
    align-self:start;
    margin-left: 32px;
}
div.CHead h2{
    margin: 0;
}
div.client h1{
    margin: 0px;
    background: none;
    color: #042940;
    font-size: 16px;
    height: auto;
    display: flex;
    justify-content: start;
}
span.head{
    margin: 0;
    background: none;
    color: #000000;
    font-size: 16px;
}
