*{
    font-family: 'Times New Roman', Times, serif;
}

@media print {
    div.Myhead,div.text-box,  div#inp * {
        visibility: hidden;
    }
    .print * #result {
        visibility: visible;
    }
    .print * #result{
        position: relative;
        left: 0px;
        right: 0px;
    }
}
div.table1{
    margin: 30px;
    margin-bottom: 10px;
    width: auto;
    border-collapse: collapse;
}
.headerDATA{
    width: 8px;
}
thead{
    text-align: start;
}
tbody {
    width: 80px;
    color: rgb(0, 0, 0);
    column-gap: 0px;
    border-collapse: collapse;
    font-size: 14px;
    }
th {
    column-gap: 0;
    padding: 2px;
    column-gap: 0px;
    border-collapse: collapse;
}
td{
    border-collapse: collapse;
    padding: 2px;
    column-gap: 0px;
}
tr{
    width: auto;
    column-gap: 0px;
}

h2 {
    margin-left: 30px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    margin-top: 20px; 
    font-weight: 300;
}
h2.L4{
    margin-top: 0px;
}
h2.L2{
    font-weight: 600;
}


h3{
    margin-left: 37px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

span{
    margin-left: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 14px;
}

select#ClientName{
    margin: 0;
    padding: 0;
}
div.CHead{
    align-self:start;
    margin-left: 32px;
}
div.CHead h2{
    margin: 0;
}
div.client h1{
    margin: 0px;
    background: none;
    color: #042940;
    font-size: 16px;
    height: auto;
    display: flex;
    justify-content: start;
}
span.head{
    margin: 0;
    background: none;
    color: #000000;
    font-size: 16px;
}