@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root{
    --color-Shadow-Input-DATA:yellow;
    --background-color-:#026873;
    --font-color-white:white;
    --btn-hight:33px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    /* background: #0c0089db; */
    /* background: url(CAD_Back.png); */
    /* background-color: black; */
    /* background-size: 100%; */
    background-image:url(./backg-1.png);
    /* background-blend-mode: darken; */
    /* background-image: linear-gradient(to bottom, #38184C, white, blue, pink, black, yellow, orange, red); */
}
/*Navigation Header CSS*/

div.Myhead {
    position: sticky;
    margin: auto;
    width: auto;
    top: 0;
    z-index: 100;
    background: #38184C;
    backdrop-filter: blur(20px);
    
}

nav {
    display: flex;
    padding: 0% 0.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    max-width: 1000px;
}

nav img {
    width: 50px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 0;
    margin-bottom: 2px;
}

ul {
    justify-content: center;
    align-items: center;

}

li {
    list-style: none;
    display: flex;
    padding: 8px 12px;
}

a {
    display: flex;
    padding: 2px 5px;
    text-decoration: none;
    color: #ffffff;
}
.navlink{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 2px 20px 2px 5px;
    transition: ease-in-out .5s;
    /* border-radius: 5px; */
    border: 1px solid transparent;
}
a.navlink:hover {
    border: 1px solid rgb(255, 255, 255);
    background: white;
    color: #38184C;
}


/* HDD Calculation DATA Entry DIV */

.in_out{
    margin:auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 10px;
}

.headData{
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    align-items: center;
    border: 3px solid #38184C;
    /* border-radius: 10px; */
    margin-top: 10px;
    box-shadow: 10px 10px var(--color-Shadow-Input-DATA) ;
    padding: 10px;
    margin: 10px;
    backdrop-filter: blur(10px);
    background-color: var(--background-color-);
    /* background-image: linear-gradient(45deg, rgba(204, 0, 255, 0.485) 10%, pink 60%, rgba(255, 0, 0, 0.427)); */
    /* background-image:url(./backg-1.png) ;
    background-blend-mode: multiply; */
}


h1{
    color: var(--font-color-white);
    border-bottom: 1px solid;
    /* width: 972px; */
    display: flex;
    text-align: center;
    justify-content: center;
    /* border-radius: 10px; */
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
    font-weight: 300;
}

.formHead{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.input_div{
    display: flex;
    flex-direction: column;
}
input, label, select{
    transition: 0.2s;
}
input:focus-within,
select:focus,
.input_div:focus-within label,
.input_div:focus-within .selTpi{
    box-shadow: 5px 5px var(--color-Shadow-Input-DATA);
    margin: -5px 10px 5px 0px;
}
.input_div:focus-within .tpiLabel{
    box-shadow: none;
    margin: -3px 0px 0px 0px;
}

.input_div1{
    display: flex;
    justify-content: center;
}
.input_div1 label, .input_div1 input{
    max-width: 482px;
}
.text, .text1{
    max-width: 250px;
    width: 240px;
    height: 20px;
    background-color: #38184C;
    margin: 0px 5px 0px 5px;
    border: 1px solid #38184C;
    /* border-radius: 5px 5px 0 0; */
    font-size: 12px;
    font-weight: 300;
    padding-left: 5px;
    color: white;
    /* box-shadow: 5px 5px var(--color-Shadow-Input-DATA); */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input:focus{
    outline: none;
    border: 1.8px solid rgb(0, 255, 51);
}
.text1{
    background-color: white;
    /* border-radius: 0 0 5px 5px; */
    height: 25px;
    margin-bottom: 15px;
    font-size: 15px; 
    color: #38184C; 
    /* box-shadow: 5px 5px var(--color-Shadow-Input-DATA); */
    font-weight: 400;
}
.btn {
    width: 250px;
    height: var(--btn-hight);
    border: 1px solid white;
    /* border-radius: 20px; */
    background-color: #38184C;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 10px 20px 10px;
    transition: 0.3s;
    color: white;
    font-size: 20px;
}

.btn:hover{
    background-color: #ffffff;
    border: 1px solid #38184C;
    box-shadow: 5px 5px var(--color-Shadow-Input-DATA);
    margin: 5px 25px 15px 15px;
    color: #38184C;

}

.aBtn {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    height: var(--btn-hight);
    font-size: 18px;
    transition: 0.3s;
    text-transform: uppercase;
    padding: 0;
}
.aBtn:hover{
    color: #38184C;
    font-size: 18px;
    padding: 0px;
}

/* HDD Calculation Result DIV */

.CHead{
    width: 100%;
    margin-left: 20px;
}
.headdata , h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0px;
}
h2{

    margin-top: 30px;
    color: var(--font-color-white);
}
.L2{
    margin: 5px 0px 5px 38px;
    padding: 0 0 3px;
    border-bottom: 1px solid white;
    width: fit-content;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.L4{
    margin: 0;
}

.table1{
    width: 100%;
    margin-left: 20px;
}
table{
    width: 100%;
    margin-bottom: 15px;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    column-gap: 0px;
    margin-top: 10px;
}

th{
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px;
    padding-right: 15px;
    color: var(--font-color-white);
    /* border-bottom:2px solid white ; */

}
tr{
    font-weight: 300;
    margin-bottom: 1px;
    color: var(--font-color-white);

}
tr:hover{
    color: yellow;
    background-color:#38184C;
}
tr.haderno:hover{
    background-color: inherit;
}
td{
    padding-right: 15px;
    font-weight: 400;
    text-transform: lowercase;
}
.td1{
    text-transform: uppercase;
}
.result_text h3{
    margin-left: 38px;
    font-weight: 400;
    font-size: 14px;
    color: var(--font-color-white);
}
.\.div_printBtn{
 margin: auto;   
}



/* Footer CSS */

.bootom {
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    bottom: 0;
    height: auto;
    padding: 30px;
    align-items: center;
    width: 100%;
    min-width: 500px;
    background: #38184C;
    margin-top: 10px;
}

.tcl{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tcl h2, .tcl h3{
    font-family: 'Macondo', cursive;
    color: white;
    font-size: 25px;
}
.tcl h3{
    font-size: 20px;
}
.svg-logo{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.svg-css{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
svg{
    width: 18px;
}
.social-tag{
    padding: 0;
}
.vr{
    width: 1px;
    height: 100px;
    background: white;
}
.aboutsite{
    margin-left: 10px;
    display: flex;
}
.about-link{
    margin-left: max(15px);
}
li.ftrli{
    margin: 0;
    padding: 0.0px;
}
a.ftrData{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
ol li{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-family: 'Macondo', cursive;
    color: coral;
    cursor: text;

}
.cus h2{
    font-family: 'Macondo', cursive;
    color: coral;
    text-transform: uppercase;
}
.contactUs h4, a.mail{
    color: white;
    display: inline-block; 
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
}
a.mail{
    color:coral;
}
