@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    backdrop-filter: blur(20px);
    height: 100vh;
}
/*Navigation Header CSS*/

div.Myhead {
    position: sticky;
    margin: auto;
    width: auto;
    top: 0;
    z-index: 100;
    background: #042940;
    backdrop-filter: blur(20px);
}

nav {
    display: flex;
    padding: 0% 0.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}

nav img {
    width: 75px;
    padding-top: 9px;
    padding-left: 7px;
    padding-right: 0%;
    margin-bottom: 8px;
}

ul {
    justify-content: center;
    align-items: center;

}

li {
    list-style: none;
    display: flex;
    padding: 8px 12px;
}

a {
    display: flex;
    padding: 2px 5px;
    text-decoration: none;
    color: #ffffff;
}
.navlink{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 2px 20px 2px 5px;
    transition: ease-in-out .1s;
    border-radius: 5px;
    border: 1px solid transparent;
}
a.navlink:hover {
    border: 1px solid rgb(255, 255, 255);
    background: white;
    color: #042940;
}

/*About US Container CSS*/

.text-box {
    display: flex;
    justify-content: center;
}

article {
    position: relative;
    background: url(CAD_Back.png);
    background-color: #0c0089db;
    background-size: 100%;
    width: 100%;
    height: 73.8vh;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUS {
    position: absolute;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin: auto;
}
h1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 75px;
    border-radius: 10px;
    margin-bottom: 10px;
}

hr.abr {
    width: 370px;
    margin-bottom: 20px;
}

#welcome {
    margin: 0px 0 15px;
    font-size: 20px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    height: auto;
    text-align: center;
    text-shadow: 1px 1px 10px black;
}
/*Buttons CSS*/

.btn {
    width: 250px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #042940;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 10px 20px 20px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #ffffff;
}

.aBtn {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.6s;
    text-transform: uppercase;
    padding: 0;
}
.aBtn:hover{
    color: #042940;
    font-size: 18px;
    padding: 0px;
}

/* Footer CSS */

.bootom {
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    bottom: 0;
    height: 155px;
    align-items: center;
    width: 100%;
    min-width: 500px;
    background: #042940;
}

.tcl{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tcl h2, h3{
    font-family: 'Macondo', cursive;
    color: white;
}
.svg-logo{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.svg-css{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
svg{
    width: 18px;
}
.social-tag{
    padding: 0;
}
.vr{
    width: 1px;
    height: 100px;
    background: white;
}
.aboutsite{
    margin-left: 10px;
    display: flex;
}
.about-link{
    margin-left: max(30px);
}
li.ftrli{
    margin: 0;
    padding: 0.0px;
}
a.ftrData{
    font-size: 14px;
    font-weight: 300;
}
ol li{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-family: 'Macondo', cursive;
    color: coral;
    cursor: text;

}
h2{
    font-family: 'Macondo', cursive;
    color: coral;
    text-transform: uppercase;
}
h4, a.mail{
    color: white;
    display: inline-block; 
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
}
a.mail{
    color:coral;
}

@media (max-width:500px) 
  {
    body {
        backdrop-filter: blur(20px);
        height: 100vh;
    }

    div.Myhead {
        position: sticky;
        margin: auto;
        width: auto;
        top: 0;
        z-index: 100;
        background: #042940;
        backdrop-filter: blur(20px);
    }
    
    nav {
        display: flex;
        padding: 0% 0.5%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
    }
    
    nav img {
        width: 35px;
        padding-top: 2px;
        padding-left: 1px;
        padding-right: 0%;
        margin-bottom: 2px;
    }
    
    ul {
        justify-content: center;
        align-items: center;
    
    }
    
    li {
        list-style: none;
        display: flex;
        padding: 5px 4px;
    }
    
    a {
        display: flex;
        padding: 2px 3px;
        text-decoration: none;
        color: #ffffff;
        font-size: 11px;
    }
    .navlink{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin: 2px 10px 2px 2px;
        transition: ease-in-out .1s;
        border-radius: 5px;
        border: 1px solid transparent;
    }
    a.navlink:hover {
        border: 1px solid rgb(255, 255, 255);
        background: white;
        color: #042940;
    }
    
    /*About US Container CSS*/
    
    .text-box {
        display: flex;
        justify-content: center;
    }
    
    article {
        position: relative;
        background: url(CAD_Back.png);
        background-color: #0c0089db;
        background-size: 100%;
        width: 100%;
        height: 73.8vh;
        background-blend-mode: darken;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aboutUS {
        position: absolute;
        width: 350px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
    h1 {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
        color: rgb(255, 255, 255);
        font-size: 35px;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    hr.abr {
        width: 170px;
        margin-bottom: 5px;
    }
    
    #welcome {
        margin: 0px 0 15px;
        font-size: 10px;
        font-weight: 100;
        color: rgb(255, 255, 255);
        height: auto;
        text-align: center;
        text-shadow: 1px 1px 10px black;
    }
    /*Buttons CSS*/
    
    .btn {
        width: 130px;
        height: 25px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #042940;
        text-align: center;
        cursor: pointer;
        padding: 0;
        margin: 5px 10px 10px;
        transition: 0.3s;
    }
    
    .btn:hover{
        background-color: #ffffff;
    }
    
    .aBtn {
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 30px;
        font-size: 11px;
        transition: 0.6s;
        text-transform: uppercase;
        padding: 0;
    }
    .aBtn:hover{
        color: #000406;
        font-size: 11px;
        padding: 0px;
    }
    
    /* Footer CSS */
    
    .bootom {
        align-items: center;
        display: flex;
        justify-content: center;
        align-self: center;
        bottom: 0;
        height: 155px;
        align-items: center;
        width: 100%;
        min-width: 400px;
        background: #042940;
    }
    
    .tcl{
        width: 140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .tcl h2, h3{
        font-family: 'Macondo', cursive;
        color: white;
    }
    .svg-logo{
        width: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }
    .svg-css{
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg{
        width: 10px;
    }
    .social-tag{
        padding: 0;
    }
    .vr{
        width: 1px;
        height: 100px;
        background: white;
    }
    .aboutsite{
        margin-left: 10px;
        display: flex;
    }
    .about-link{
        margin-left: max(10px);
    }
    li.ftrli{
        margin: 0;
        padding: 0.0px;
    }
    a.ftrData{
        font-size: 10px;
        font-weight: 300;
    }
    ol li{
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 3px;
        font-family: 'Macondo', cursive;
        color: coral;
        cursor: text;
    
    }
    h2{
        font-family: 'Macondo', cursive;
        color: coral;
        text-transform: uppercase;
    }
    h4, a.mail{
        color: white;
        display: inline-block; 
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        font-size: 14px;
    }
    a.mail{
        color:coral;
    }




}