
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    background: url(../Images/back.jpg);
    backdrop-filter: blur(20px);
    height: 100vh;
}

div.Myhead {
    position: sticky;
    margin: auto;
    width: auto;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid white;
    background: rgba(255, 0, 0, 0.226);
    backdrop-filter: blur(20px);
}


nav {
    display: flex;
    padding: 0% 0.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}

nav img {
    width: 75px;
    padding-top: 9px;
    padding-left: 7px;
    padding-right: 0%;
}

ul{
    justify-content: center;
    align-items: center;

}
li{
    list-style: none;
    display: flex;
    padding: 8px 12px;
}
a{
    display: flex;
    padding: 2px 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 2px 20px 2px 5px;
    transition: ease-in-out .3s;
    border-radius: 5px;
    border: 1px solid transparent;
    text-shadow: 2px 2px 10px rgb(253, 0, 0) ;
}
a:hover{
    border: 1px solid rgb(251, 0, 0);
}

/* .background{
    content: url(../Images/Background.jpg);
    position: fixed;
    width: 100%;
    background-color: #ff6803;
    top: 0;
    z-index: -100;
} */

.blank{
    margin: auto;
}
.text-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}


.container form {
    height: 800px;
    width: 100%;
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.342);
    flex-wrap: wrap;
    margin-top: 10px;
}
article {
    position: relative;
    background: url(../Images/back.jpg);
    background-size: 100%;
    background-color: #bd00003b;
    width: 98%;
    height: 70vh;
    border-radius: 30px;
    background-blend-mode: darken;
    border: 2px solid white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.aboutUS{
    position: absolute;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin: auto;
}
hr.abr{
    width: 350px;
    margin-bottom: 10px;
}

#welcome {
    margin: 5px 0 2px;
    font-size: 20px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    height: auto;
    text-align: center;
    text-shadow: 1px 1px 10px black;
}
.divBtn{
    margin-top: 20px;
    display: flex;
}
.btn{
    width: 200px;
    border: 2px solid white;
    border-radius: 20px;
    color: #03ffd5;
    background-color: #042940;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0;
}
.aBtn{
    color: #03ffd5;
    text-align: center;
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 100%;
}
.container {
    margin-top: 0.5px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.text-box {
    margin-top: 2px;
}

#inp.container {
    margin-top: 0.5px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fbfdff;
    background: #042940;
    font-weight: 1000;
    font-size: 30px;
    margin: 0px 0 20px;
    width: 930px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    align-self: center;
    border-radius: 10px;
}
.about {
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
    margin: 0 0 10px;
}
.container form input,
select,
button {
    width: 460px;
    height: 30px;
    padding-left: 15px;
    padding-right: 30px;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px #042940 solid;
    border-radius: 0px 0px 10px 10px;
    margin-right: 5px;
    margin-left: 5px;

}

input#projectName {
    width: 930px;
}

input#roc,
#SectionLength,
#EntryAngle,
#ExitAngle,
#ProfileDepth,
#DesignPressure,
#LengthODrill,
#WeightDrill,
#WeightReamer {
    width: 225px;
    padding-right: 0px;
}

div.tpi {
    display: flex;
}

select {
    width: 225px;
    display: flex;
    align-items: center;
}

div.PipeMaterial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label,
select.IAT {
    margin: 0 5px;
    background: #042940;
    color: white;
    width: 225px;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 0px 7px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11.5px
}

select.IAT {
    width: 460px;
    border-radius: 10px 10px 0px 0px;
}

table {
    width: auto;
    margin: auto;
}

label.text {
    width: 460px;
}

label.text1 {
    width: auto;
    margin: auto;
}

button#cal,
.print {
    background: #042940;
    width: 225px;
    text-decoration: none;
    padding: 0;
    box-shadow: 0px 1px 2px;
    border: none;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    margin-top: 10px;
    height: 45px;
}

button#cal:hover,
button.print:hover {
    background: rgb(255, 255, 255);
    /* border: 1px solid #042940;
    box-shadow: 0px 5px 15px #042940; */
    border: 2px solid #333;
}

button#cal .btn,
a.prn {
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: 20px;
    padding: 10px 43px;
    text-align: center;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    flex: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

button#cal .btn:hover,
a.prn:hover {
    color: #042940;
    font-size: 24px;
    padding: 7px 25px;
}

.container form #calculate {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 0px;
    margin-bottom: 30px;
    transition: 0.3s;
}

#result {
    margin-top: 0.5px;
}

form.result {
    height: auto;
    align-content: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 980px;
    min-width: 500px;
}

.container form h4 {
    font-size: larger;
    color: rgb(65, 0, 0);
    font-weight: 300;
    margin-top: 20px;
    margin-left: 50px;
    height: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

#h4 {
    font-size: larger;
    color: rgb(65, 0, 0);
    font-weight: 300;
    margin-top: 20px;
    text-transform: uppercase;
}

form p,
span {
    font-size: larger;
    color: rgb(65, 0, 0);
    font-weight: 300;
    margin-top: 2px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}



input:placeholder-shown {
    border: 1px solid red;
}


div.table1 {
    margin: auto;
    margin-bottom: 10px;
    width: auto;
    border-collapse: collapse;
}

.headerDATA {
    width: 8px;
}

thead {
    text-align: start;
}

tbody {
    width: 80px;
    color: rgb(0, 0, 0);
    column-gap: 0px;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    column-gap: 0;
    padding: 2px;
    column-gap: 0px;
    border-collapse: collapse;
}

td {
    border-collapse: collapse;
    padding: 2px;
    column-gap: 0px;
}

tr {
    width: auto;
    column-gap: 0px;
}

h2 {
    margin-left: 30px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
}

h2.L4 {
    margin-top: 0px;
}

h2.L2 {
    font-weight: 600;
}


h3 {
    margin-left: 37px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

span {
    margin-left: 0px;
    color: rgb(255, 0, 0);
    font-family: 'Nunito Sans';
    font-size: 14px;
}

select#ClientName {
    margin: 0;
    padding: 0;
}

div.CHead {
    align-self: start;
    margin-left: 32px;
}

div.CHead h2 {
    margin: 0;
}

div.client h1 {
    margin: 0px;
    background: none;
    color: #042940;
    font-size: 16px;
    height: auto;
    display: flex;
    justify-content: start;
}

span.head {
    margin: 0;
    background: none;
    color: #042940;
    font-size: 16px;
}

div.btnprint {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.bootom {
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    bottom: 0;
}

.footer {
    display: flex;
    height: 155px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    background: #03ffd5;
    border-radius: 10px;
}

.myf {
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
}

a.mailid {
    text-decoration: none;
    color: #03ffd5;
    font-weight: 100;
}

p.mail,
.au {
    display: flex;
    align-items: center;
    background: #333;
    height: 40px;
    width: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

p.au {
    border: 2px solid #333;
    background: none;
    border-radius: 10px 10px 0 0;
}

@media (max-width: 997px) and (min-width:500px) {
    body {
        background: #000000;
        width: 980px;
        justify-content: center;
        align-content: center;
        padding-left: 0px;
    }

    header {
        max-width: auto;
        height: auto;
        display: flex;
        justify-content: center;
    }

    div.Myhead {
        top: 0;
        width: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        z-index: 100;
        height: auto;
    }

    nav {
        position: relative;
        width: 800px;
        display: flex;
        padding: 0% 0.5%;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(248, 123, 123, 0.651);
        background: linear-gradient(70deg, rgba(255, 192, 203), #03ffd5);
        border-bottom: 4px solid rgba(227, 159, 159, 0.253);

    }

    nav img {
        width: 70px;
        padding-top: 9px;
        padding-left: 7px;
        padding-right: 0%;
        border-radius: 20px;
    }

    .container form,
    article {
        width: 800px;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 1.5px 1.5px 10px rgb(0, 0, 0);
        flex-wrap: wrap;
        margin-top: 10px;
        background: white;
    }

    .text-box hh1 {
        font-size: 20px;
        color: rgb(116, 0, 0);
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #welcome {
        margin: 13px 0 5px;
        font-size: 14px;
        color: rgb(4, 12, 87);
        height: auto;
        text-align: center;
    }

    .container,
    .text-box {
        margin-top: 0.5px;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
    }

    .text-box {
        margin-top: 2px;
    }

    #inp.container {
        margin-top: 0.5px;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fbfdff;
        background: #042940;
        font-weight: 400;
        font-size: 20px;
        margin: 0px 0 15px;
        width: 760px;
        height: 40px;
        text-align: center;
        font-weight: bolder;
        align-self: center;
        border-radius: 8px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .container form input,
    select,
    button {
        width: 380px;
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;
        outline: none;
        font-size: 13px;
        margin-bottom: 7px;
        background: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0.5px #042940 solid;
        border-radius: 0px 0px 8px 8px;
        margin-right: 2px;
        margin-left: 2px;
        display: flex;

    }

    input#projectName {
        width: 760px;
    }

    input#roc,
    #SectionLength,
    #EntryAngle,
    #ExitAngle,
    #ProfileDepth,
    #DesignPressure,
    #LengthODrill,
    #WeightDrill,
    #WeightReamer {
        width: 380px;
        padding-right: 0px;
    }


    select {
        width: 380px;
        display: flex;
        align-items: center;
    }

    div.PipeMaterial {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    label {
        margin: 0 2px;
        background: #042940;
        color: white;
        width: 380px;
        height: 25px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 0px 0px 0px 7px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px
    }

    div.in_out {
        margin: 5px;
    }

    label.text {
        width: 380px;
    }

    label.text1 {
        width: 760px;
    }

    button#cal,
    .print {
        background: #a55504;
        width: 250px;
        text-decoration: none;
        padding: 0;
        box-shadow: 0px 1px 2px;
        border: none;
        border-radius: 30px;
        transition: ease-in-out 0.3s;
        margin-top: 10px;
        height: 45px;
    }

    button#cal:hover,
    button.print:hover {
        background: rgb(255, 255, 255);
        /* border: 1px solid #042940;
        box-shadow: 0px 5px 15px #042940; */
        border: 2px solid rgb(169, 80, 251);
    }

    button.print {
        align-self: center;
    }

    button#cal .btn,
    .prn {
        text-decoration: none;
        color: rgb(255, 254, 254);
        font-size: 19px;
        padding: 10px 38px;
        margin: 0px;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        flex: 1;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    }

    button#cal .btn:hover,
    a.prn:hover {
        color: #042940;
        font-size: 24px;
        padding: 10px 25px;
    }

    .container form #calculate {
        border: none;
        background: #fff;
        border-radius: 8px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        color: #333;
        width: 100px;
        padding: 0;
        margin-right: 0px;
        margin-bottom: 30px;
        transition: 0.3s;
    }

    #result {
        margin-top: 0.5px;
    }

    form.result {
        height: auto;
        align-content: center;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        width: 800px;
        min-width: 600px;
        padding: 5px;
    }

    .container form h4 {
        font-size: larger;
        color: rgb(65, 0, 0);
        font-weight: 300;
        margin-top: 20px;
        margin-left: 50px;
        height: 50px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;

    }

    #h4 {
        font-size: larger;
        color: rgb(65, 0, 0);
        font-weight: 300;
        margin-top: 20px;
        text-transform: uppercase;
    }

    form p,
    span {
        font-size: larger;
        color: rgb(65, 0, 0);
        font-weight: 300;
        margin-top: 2px;
        margin-left: 50px;
        text-align: left;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    div.table1 {
        width: auto;
        border-collapse: collapse;
        margin: 10px;
        width: 700px;
        margin-left: 10px;
    }

    .headerDATA {
        width: 15px;
    }

    thead {
        text-align: start;
    }

    tbody {
        width: auto;
        color: rgb(0, 0, 0);
        column-gap: 0px;
        border-collapse: collapse;
        font-size: 15px;
    }

    th {
        column-gap: 0;
        column-gap: 0px;
        border-collapse: collapse;
        font-size: 13px;
    }

    td {
        border-collapse: collapse;
        column-gap: 0px;
    }

    tr {
        width: auto;
        column-gap: 0px;
        font-size: 16px;
    }

    h2 {
        font-family: 'Nunito Sans';
        font-size: 18px;
        margin-left: 10px;
    }

    h2.L4 {
        margin-top: 0px;
    }

    h3 {
        margin-left: 17px;
        font-family: 'Nunito Sans';
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-weight: 100;
    }

    span {
        margin-left: 0px;
        color: rgb(255, 0, 0);
        font-family: 'Nunito Sans';
        font-size: 16px;
    }

    select#ClientName {
        margin: 0;
        padding: 0;
    }

    div.CHead {
        align-self: start;
        margin-left: 10px;
    }

    div.CHead h2 {
        margin: 0;
    }

    div.client h1 {
        margin: 0px;
        background: none;
        color: #042940;
        font-size: 16px;
        height: auto;
        display: flex;
        justify-content: start;
    }

    span.head {
        margin: 0;
        background: none;
        color: #042940;
        font-size: 16px;
    }

    div.btnprint {
        display: flex;
        justify-content: center;
        margin: 2px;
    }

    .bootom {
        align-items: center;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 0px;
    }

    .footer {
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center;
        width: 800px;
        min-width: 780px;
        background: #03ffd5;
        border-radius: 6px;
    }

    .myf {
        text-align: center;
        width: fit-content;
        height: fit-content;
        font-size: 18px;
    }

    a.mailid {
        text-decoration: none;
        color: #03ffd5;
        font-weight: 100;
    }

    p.mail,
    .au {
        display: flex;
        align-items: center;
        background: #333;
        height: 35px;
        width: 250px;
        text-align: center;
        justify-content: center;
        border-radius: 0px 0px 10px 10px;
    }

    p.au {
        border: 2px solid #333;
        background: none;
        border-radius: 10px 10px 0 0;
    }

}



@media all and (max-width: 500px) {
    body {
        background: #ffffff;
        width: 420px;
    }

    header {
        max-width: auto;
        height: auto;
        display: flex;
        justify-content: center;
    }

    div.Myhead {
        top: 0;
        width: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        z-index: 100;
        height: auto;
    }

    nav {
        position: relative;
        width: 410px;
        display: flex;
        padding: 0% 0.5%;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(248, 123, 123, 0.651);
        background: linear-gradient(70deg, rgba(255, 192, 203), #03ffd5);
        border-bottom: 4px solid rgba(227, 159, 159, 0.253);

    }

    nav img {
        width: 50px;
        padding-top: 9px;
        padding-left: 7px;
        padding-right: 0%;
        border-radius: 20px;
    }

    .container form,
    article {
        max-width: 410px;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        box-shadow: .5px .5px 10px rgba(255, 0, 0, 0.146);
        flex-wrap: wrap;
        margin-top: 10px;
        background: rgb(255, 255, 255);
    }

    .text-box hh1 {
        font-size: 10px;
        margin: 0px;
        color: rgb(116, 0, 0);
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #welcome {
        margin: 5px 0 5px;
        font-size: 08px;
        color: rgb(4, 12, 87);
        height: auto;
        text-align: center;
    }

    .container,
    .text-box {
        margin-top: 0.5px;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
    }

    .text-box {
        margin-top: 2px;
    }

    #inp.container {
        margin-top: 0.5px;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fbfdff;
        background: #042940;
        font-weight: 400;
        font-size: 12px;
        margin: 0px 0 10px;
        width: 374px;
        height: 30px;
        text-align: center;
        font-weight: bolder;
        align-self: center;
        border-radius: 6px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .container form input,
    select,
    button {
        width: 185px;
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        outline: none;
        font-size: 10px;
        margin-bottom: 4px;
        background: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0.5px #042940 solid;
        border-radius: 0px 0px 6px 6px;
        margin-right: 2px;
        margin-left: 2px;
        display: flex;

    }

    input#projectName {
        width: 374px;
    }

    input#roc,
    #SectionLength,
    #EntryAngle,
    #ExitAngle,
    #ProfileDepth,
    #DesignPressure,
    #LengthODrill,
    #WeightDrill,
    #WeightReamer {
        width: 185px;
        padding-right: 0px;
    }


    select {
        width: 185px;
        display: flex;
        align-items: center;
    }

    div.PipeMaterial {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    label {
        margin: 0 2px;
        background: #042940;
        color: white;
        width: 185px;
        height: 15px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 0px 0px 0px 7px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 8px
    }

    div.in_out {
        margin: 5px;
    }

    label.text {
        width: 185px;
    }

    label.text1 {
        width: 374px;
    }

    button#cal,
    .print {
        background: #042940;
        width: 170px;
        text-decoration: none;
        padding: 0;
        box-shadow: 0px 1px 2px;
        border: none;
        border-radius: 30px;
        transition: ease-in-out 0.3s;
        margin-top: 10px;
        height: 35px;
    }

    button#cal:hover,
    button.print:hover {
        background: rgb(255, 255, 255);
        /* border: 1px solid #042940;
        box-shadow: 0px 5px 15px #042940; */
        border: 2px solid #333;
    }

    button.print {
        align-self: center;
    }

    button#cal .btn,
    a.prn {
        text-decoration: none;
        color: rgb(255, 254, 254);
        font-size: 14px;
        padding: 10px 38px;
        text-align: center;
        margin: 0px;
        font-family: 'Comfortaa', cursive;
        flex: 1;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    }

    button#cal .btn:hover,
    a.prn:hover {
        color: #042940;
        font-size: 20px;
        padding: 5px 15px;
    }

    .container form #calculate {
        border: none;
        background: #fff;
        border-radius: 5px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        color: #333;
        width: 100px;
        padding: 0;
        margin-right: 0px;
        margin-bottom: 30px;
        transition: 0.3s;
    }

    #result {
        margin-top: 0.5px;
    }

    form.result {
        height: auto;
        align-content: center;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        width: 410px;
        min-width: 400px;
        padding: 5px;
    }

    .container form h4 {
        font-size: larger;
        color: rgb(65, 0, 0);
        font-weight: 300;
        margin-top: 20px;
        margin-left: 50px;
        height: 50px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;

    }

    #h4 {
        font-size: larger;
        color: rgb(65, 0, 0);
        font-weight: 300;
        margin-top: 20px;
        text-transform: uppercase;
    }

    form p,
    span {
        font-size: larger;
        color: rgb(65, 0, 0);
        font-weight: 300;
        margin-top: 2px;
        margin-left: 50px;
        text-align: left;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    div.table1 {
        width: auto;
        border-collapse: collapse;
        margin: 10px;
        width: 400px;
        margin-left: 10px;
    }

    .headerDATA {
        width: 8px;
    }

    thead {
        text-align: start;
    }

    tbody {
        width: auto;
        color: rgb(0, 0, 0);
        column-gap: 0px;
        border-collapse: collapse;
        font-size: 7px;
    }

    th {
        column-gap: 0;
        column-gap: 0px;
        border-collapse: collapse;
        font-size: 10px;
    }

    td {
        border-collapse: collapse;
        column-gap: 0px;
    }

    tr {
        width: auto;
        column-gap: 0px;
        font-size: 10px;
    }

    h2 {
        font-family: 'Nunito Sans';
        font-size: 9px;
        margin-left: 10px;
    }

    h2.L4 {
        margin-top: 0px;
    }

    h3 {
        margin-left: 17px;
        font-family: 'Nunito Sans';
        font-size: 10px;
        color: rgb(0, 0, 0);
        font-weight: 100;
    }

    span {
        margin-left: 0px;
        color: rgb(255, 0, 0);
        font-family: 'Nunito Sans';
        font-size: 10px;
    }

    select#ClientName {
        margin: 0;
        padding: 0;
    }

    div.CHead {
        align-self: start;
        margin-left: 10px;
    }

    div.CHead h2 {
        margin: 0;
    }

    div.client h1 {
        margin: 0px;
        background: none;
        color: #042940;
        font-size: 10px;
        height: auto;
        display: flex;
        justify-content: start;
    }

    span.head {
        margin: 0;
        background: none;
        color: #042940;
        font-size: 10px;
    }

    div.btnprint {
        display: flex;
        justify-content: center;
        margin: 2px;
    }

    .bootom {
        align-items: center;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 0px;
    }

    .footer {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        width: 410px;
        min-width: 410px;
        background: #03ffd5;
        border-radius: 6px;
    }

    .myf {
        text-align: center;
        width: fit-content;
        height: fit-content;
        font-size: 14px;
    }

    a.mailid {
        text-decoration: none;
        color: #03ffd5;
        font-weight: 100;
    }

    p.mail,
    .au {
        display: flex;
        align-items: center;
        background: #333;
        height: 20px;
        width: 200px;
        text-align: center;
        justify-content: center;
        border-radius: 0px 0px 10px 10px;
    }

    p.au {
        border: 2px solid #333;
        background: none;
        border-radius: 10px 10px 0 0;
    }

}